* {margin: 0px; padding: 0px; box-sizing: border-box;}

@font-face {
    font-family: "fifam";
    src: url(../fonts/Graphik\ Arabic\ Medium.otf);
}

@font-face {
    font-family: "fifab";
    src: url(../fonts/Qatar2022Arabic-Bold.ttf);
}

@font-face {
    font-family: "fifah";
    src: url(../fonts/Qatar2022Arabic-Heavy.ttf);
}

body {
    font-family: "fifam";
}

header {
    background-color: rgb(137, 7, 72);
    padding-bottom: 10px;
}

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header a img {
    width: 65px;
    padding: 10px;
}

header p {
    display: flex;
    font-size: 40px;
    color: aliceblue;
    font-family: fifab;
    padding-left: 0px 10px 0px 10px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 510px 0px 510px ;
    list-style: none;
    font-family: fifab;
}

.nav-links a {
    text-decoration: none;
    color: aliceblue;
}

h1 {
    font-family: fifah;
    font-size: 100px;
    padding: 200px 0px 300px 0px;
    display: flex;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

h2::first-letter {
    color: rgb(137, 7, 72);
    font-size: 60px;
    font-family: fifab;
}

h2 {
    font-family: fifab;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline;

}

.DatosQatar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
}

section ul {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    margin: 150px;
}

section ul ::first-letter {
    color: rgb(137, 7, 72);
    font-size: 40px;
    font-family: fifab;
}

.TextoEeb {
    font-size: 25px;
    text-align: center;
    align-content: center;
    margin: 100px;
}

section p::first-letter {
    color:  rgb(137, 7, 72);
    font-size: 40px;
    font-family: "fifab";
}

footer {
    background-image: linear-gradient(to bottom, white, rgb(137, 7, 72) );
    color: rgb(62, 62, 62);
    font-size: small;
    text-align: center;
    padding: 50px;
}

h3 {
    font-family: fifab;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

h3::first-letter {
    color: rgb(137, 7, 72);
    font-size: 50px;
    font-family: fifab;
}

ol {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    padding: 100px;
}

.argcamp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
    justify-items: center;
    text-align: center;
    font-size: 15px;
    padding-bottom: 100px;
}

section img {
    width: 500px;
}

.scaloni {
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
}

main div img {
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

